<bread-card-box [headerTemplate]="filterTemplate">
    <bread-loading *ngIf="loading"></bread-loading>
    <ng-container *ngIf="!loading">
        <bread-post-summary *ngFor="let post of (filter === 'fresh') ? posts.reverse() : posts"
                            [post]="post"></bread-post-summary>
    </ng-container>
</bread-card-box>

<ng-template #filterTemplate>
    <div class="header border-bottom border-gray px-3 py-2">
        <h5>Bread posts</h5>
        <div class="d-flex">
            <button [class.btn-outline-dark]="filter !== 'hot'" [class.btn-dark]="filter === 'hot'"
                    class="btn btn-sm rounded-pill" (click)="filterChanged('hot')">
                <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                Hot
            </button>
            <button [class.btn-outline-dark]="filter !== 'fresh'" [class.btn-dark]="filter === 'fresh'"
                    class="ml-2 btn btn-sm rounded-pill" (click)="filterChanged('fresh')">
                <fa-icon [icon]="['fas', 'bread-slice']"></fa-icon>
                Freshly baked
            </button>
        </div>
    </div>
</ng-template>
