<bread-card-box>
    <bread-loading *ngIf="loading"></bread-loading>
    <ng-container *ngIf="!loading">
        <div class="py-3 d-flex">
            <bread-post-votes [postId]="post.id" [upvoted]="post.voted" [score]="post.score"
                              (onVote)="onVote($event)"></bread-post-votes>
            <div class="flex-grow-1 pr-3">
                <div class="border-bottom border-gray pb-3 mb-3">
                <span class="text-muted"><small>
                    Posted by <strong>{{ post.from.username }}</strong> {{post.postedAt | timeAgo}}
                </small></span>
                    <h3>
                        {{post.title}}
                    </h3>
                    <p>{{post.content}}</p>
                    <small class="text-muted">
                        <fa-icon [icon]="['fas', 'comments']"></fa-icon>
                        {{comments.length}} Comments
                    </small>
                    <bread-comment-form [postId]="post.id"
                                        (commentAdded)="reloadComments($event)"></bread-comment-form>
                </div>
                <bread-comment-list [comments]="comments"></bread-comment-list>
            </div>
        </div>
    </ng-container>
</bread-card-box>
