:host {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 1px solid #dee2e6;


    .vote-container {
        flex: 0 1 50px;
    }

    .meta-container {
        flex: 1 0;
        color: inherit;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;

        &:hover .title {
            text-decoration: underline;
        }

        .title {
            font-size: 16px;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        .author {
            font-size: 11px;
        }
    }

}
